header{
	display: flex;
	justify-content: space-between;
}

header img{
	max-width: 50px;
	max-height: 50px;
}

header .title{
	font-size: 30px;
}

.center-block{
	display: flex;
}

.left-menu{
	width: 200px;
}

.content{
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

.user-card{
	width: 200px;
    border: 1px solid red;
	padding: 10px;
	margin: 5px;
}

.user-card .header{
	display: flex;
}

.user-card .header p{
    margin: 4px;
}

.user-card .header img{
	max-width: 50px;
	max-height: 50px;
	border-radius: 40px;
}

.right-block{
	width: 200px;
}

.right-block img{
	max-width: 150px;
}

.my-cool-button{
	border: 0;
    padding: 0;
    margin: 0;
    background: gray;
    width: 26px;
}

.tag-block{
	padding: 10px;
	display: flex;
    flex-wrap: wrap;
}

.tag{
	border: 1px green solid;
	border-radius: 15px;
	padding: 2px 4px 2px 7px;
}

.tag .remove{
	visibility: hidden;
}

.tag:hover .remove{
	visibility: visible;
}

.spoiler-block{
	border: 1px gray solid;
	border-radius: 5px;
}

.spoiler-block .title{
	cursor: pointer;
}

.spoiler-block .big-text{
	border-top: 1px gray solid;
}

.spoiler-block  p{
	padding: 7px;
    margin: 0;
}


.template{
	display: none;
}


.pink{
	width: 400px;
	height: 200px;
	border: 1px solid pink;
}

.black1{
	height: 30px;
	border: 1px solid black;
	
	display: flex;
	justify-content: center;
}

.black2{
	border: 1px solid black;
	display: flex;
    justify-content: space-around;
}

.black2 div{	
	border: 1px solid blue;
	margin: 5px;
}

.black2 div img{
	max-height: 150px;
	max-width: 150px;
}

.black2 div span{
	border: 1px solid #F0F;
	border-radius: 10px;
	white-space: nowrap;
}

.preview{
	max-width: 100px;
}

.full-size{
	max-width: 500px;
}

.add-user-card{
	cursor: pointer;
	height: fit-content;
}

.edit{
	display: flex;
}
.newValue{
	width: 100%;
    flex: 1;
}

.icon{
	width: 20px;
	height: 20px;
	background-size: cover;
	cursor: pointer;
}

.icon.add{
	background-image:url(images/add.jpg);
}

.icon.cancel{
	background-image:url(images/cancel.png);
}




.left-menu .menu{
	display: none;
}

.left-menu > .menu{
	display: block;
}

.left-menu .menu-item:hover > .menu{
	display: block;
}

.menu{
	list-style: none;
	width:60px
}
.menu .menu{
	position: absolute;
    margin-left: 60px;
    padding-left: 0;
	background: green;
}


.popup-block{
	width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
	top: 0;
	left: 0;
}

.popup-background{
	width: 100%;
    height: 100vh;
    background: black;
    opacity: 0.3;
    position: absolute;
	z-index: 0;
}

.popup-content{
	width: 500px;
    height: 600px;
    background: #FFF;
	z-index: 1;
}























