.pink{
	width: 400px;
	height: 200px;
	border: 1px solid pink;
}

.black1{
	height: 30px;
	border: 1px solid black;
	
	display: flex;
	justify-content: center;
}

.black2{
	border: 1px solid black;
	display: flex;
    justify-content: space-around;
}

.black2 div{	
	border: 1px solid blue;
	margin: 5px;
}

.black2 div img{
	max-height: 150px;
	max-width: 150px;
}

.black2 div span{
	border: 1px solid #F0F;
	border-radius: 10px;
	white-space: nowrap;
}

.center{
	
}